flows.json
[{"id":"dde411a5.b0aeb","type":"tab","label":"Smart Bot","disabled":false,"info":""},{"id":"6291dfeb.9f2a6","type":"ui_form","z":"dde411a5.b0aeb","name":"","label":"","group":"e412388a.270b78","order":1,"width":"0","height":"0","options":[{"label":"Type here!","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":120,"wires":[["9b3b4196.00ba"]]},{"id":"9b3b4196.00ba","type":"function","z":"dde411a5.b0aeb","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":120,"wires":[["8740ecf4.7a153","f069f70c.ebe568"]]},{"id":"8740ecf4.7a153","type":"watson-conversation-v1","z":"dde411a5.b0aeb","name":"","workspaceid":"196e178f-8375-40b0-8224-7e92ff67285f","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/290655f1-4331-4441-a65f-33018ba1947f","timeout":"","optout-learning":false,"x":380,"y":80,"wires":[["fc2ad00e.1f7408","caec9125.97cb48"]]},{"id":"fc2ad00e.1f7408","type":"function","z":"dde411a5.b0aeb","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["ca414530.af9e5"]]},{"id":"f069f70c.ebe568","type":"ui_text","z":"dde411a5.b0aeb","group":"b5240938.af3738","order":3,"width":"0","height":"0","name":"","label":"YOU","format":"{{msg.payload}}","layout":"col-center","x":370,"y":160,"wires":[]},{"id":"ca414530.af9e5","type":"ui_text","z":"dde411a5.b0aeb","group":"fec04632.eb482","order":2,"width":"14","height":"10","name":"","label":"SMART BOT :","format":"{{msg.payload}}","layout":"col-center","x":670,"y":160,"wires":[]},{"id":"caec9125.97cb48","type":"debug","z":"dde411a5.b0aeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":60,"wires":[]},{"id":"e412388a.270b78","type":"ui_group","z":"","name":"Form","tab":"6cc668e3.fd409","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5240938.af3738","type":"ui_group","z":"","name":"Query","tab":"6cc668e3.fd409","order":2,"disp":true,"width":"6","collapse":false},{"id":"fec04632.eb482","type":"ui_group","z":"","name":"Bot Answered","tab":"6cc668e3.fd409","order":1,"disp":true,"width":"14","collapse":false},{"id":"6cc668e3.fd409","type":"ui_tab","z":"","name":"Smart Document Reader","icon":"dashboard","disabled":false,"hidden":false}]